#overlay{
    background:url("/sites/all/modules/overlay/viewer.jpg") no-repeat scroll 0 0 transparent;
    display:none;
    height:2000px;
    opacity:0.765;
    pointer-events:none;
 position: absolute;
    right: -28px;
    top: 0;
    width: 1018px;
    z-index:9;
}
#overlay_controls_wrap{position:fixed;top:0px;left:-30px;z-index:99999;}
.overlay_controls_box{width:20px;height:20px;display:inline-block;}
#overlay_control{background:none repeat scroll 0 0 red;}
#overlay_control_light{background:none repeat scroll 0 0 green;}
#overlay_control_dark{background:none repeat scroll 0 0 black;}

